#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}



.btn{
  width: 5rem;
  height: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.back{
  rotate: 180deg;
  width: 30rem;
}

.background{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  flex-wrap: wrap;
}

#container a {
  text-decoration: none;
}

.poke{
  width: 20rem;
}

.pokem{
  width: 20rem;
}

.info{
  width: 70%;
  display: flex;
  text-align: center;
}

.infor{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;

}

.logo{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.title{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.txt{
  margin: 2rem;
  font-size: 2rem;
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elements{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.card{
  border-radius: 2rem;

}

.input{
border: 1px solid white;
border-radius: 1.5rem;
width: 100%;
margin-bottom: 1.5rem;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.pokemon{
  width: 80%;
  border-radius: 1.5rem;
  background-color: #1298E6;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.imagen{
width: 50%;
}

.item{
  width: 80%;
  border-radius: 1.5rem;

  background-color: #E6126D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media (max-width: 1250px) {
  /* … */
}
